@use '../abstracts/variables' as *;

a {
	transition: background-size $animation_duration ease;
	background: $animation_duration ease;
	background-image: linear-gradient(to right, #0000 4.999%, $colour_themeForeground 5%, $colour_themeForeground 95%, #0000 95.001%);
	background-position: 0 100%;
	background-repeat: no-repeat;
	background-size: 100% 5%;
	cursor: pointer;
	text-decoration: none;
	text-decoration: none;
	color: inherit;

	&:hover {
		background-size: 100% 15%;
	}
}
