@use '../abstracts/variables' as *;

a {
	transition: background-size $animation_duration ease;
	background-image: linear-gradient(to right, currentColor 0%, currentColor 100%);
	background-position: 0 100%;
	background-repeat: no-repeat;
	background-size: 100% 0.15em;
	cursor: pointer;
	text-decoration: none;
	color: inherit;
	margin-block-end: -0.15em;
	padding-block-end: 0.15em;

	&:hover {
		background-size: 100% 0.3em;
	}
}
