@use '../abstracts/variables' as *;

button,
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="file"]::before,
.button {
	@extend %box_decoration_small;

	margin-block-end: $space_small;
    margin-block-start: $space_small;
	margin-inline-end: $space_small;
    display: inline-block;
	outline: none;
	background: $colour_green, $colour_grey;
	cursor: pointer;
    padding: $space_small $space_medium;
	text-transform: uppercase;
	text-decoration: none;
	color: $colour_themeForeground;
    font-size: inherit;
    font-weight: 700;
	transition: all $animation_duration ease-in-out,
				box-shadow $animation_duration ease-in-out,
				background $animation_duration ease-in-out;
}
	button:hover,
	input[type="button"]:hover,
	input[type="submit"]:hover,
	input[type="reset"]:hover,
	input[type="file"]:hover::before,
	.button:hover {
		@extend %box_decoration_small-raised;
		z-index: 1;
	}
	button:active,
	input[type="button"]:active,
	input[type="submit"]:active,
	input[type="reset"]:active,
	input[type="file"]:active::before,
	.button:active {
		background: $colour_themeGo;
	}

/* custom file selection button */
input[type="file"]::file-selector-button {
	visibility: hidden;
}
input[type="file"]::before {
	content: 'Select file...';
}

.indicate-emphasis {
	background: $colour_themeEmphasis;
	color: $colour_white;
}
.indicate-go  {
	background: $colour_themeGo;
	color: $colour_white;
}
.indicate-stop  {
	background: $colour_themeStop;
	color: $colour_white;
}
.indicate-ready  {
	background: $colour_themeReady;
	color: $colour_black;
}
