@use '../abstracts/variables' as *;

button,
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="file"]::before,
.button {
    display: inline-block;
    margin: 0.4em;
	outline: none;
	border: solid 1px $colour_grey;
    border-radius: $radius_small;
	background: $colour_green, $colour_grey;
	cursor: pointer;
    padding: $space_XSmall;
	text-decoration: none;
	color: $colour_themeForeground;
    font-size: inherit;
    font-weight: bold;
	transition: transform $animation_duration ease-in-out, 
				box-shadow $animation_duration ease-in-out,
				background $animation_duration ease-in-out;
}
	button:hover,
	input[type="button"]:hover,
	input[type="submit"]:hover,
	input[type="reset"]:hover,
	input[type="file"]:hover::before,
	.button:hover {
		transform: translate(0.2em, -0.2em);
		box-shadow: -0.2em 0.2em 0 0 #000;
		background: $colour_greyLight;
		z-index: 1;
	}
	button:active,
	input[type="button"]:active,
	input[type="submit"]:active,
	input[type="reset"]:active,
	input[type="file"]:active::before,
	.button:active {
		transform: translate(0, 0);
		box-shadow: 0 0 0 0 #000;
		background: $colour_themeGo;
	}

/* custom file selection button */
input[type="file"]::file-selector-button {
	visibility: hidden;
}
input[type="file"]::before {
	content: 'Select file...';
}

.indicate-emphasis {
	background: $colour_themeEmphasis;
	color: $colour_white;
}
.indicate-go  {
	background: $colour_themeGo;
	color: $colour_white;
}
.indicate-stop  {
	background: $colour_themeStop;
	color: $colour_white;
}
.indicate-ready  {
	background: $colour_themeReady;
	color: $colour_black;
}
