@use '../abstracts/variables' as *;

%inputgrid {
	gap: $space_small;
	display: grid;
	grid-template-columns: fit-content(5em) auto;

	/* Stop grid children overflowing. */
	&>* {
		min-width: 0;
	}
}

form {
	@extend %inputgrid;

	fieldset {
		@extend %inputgrid;

		grid-column: 1 / -1;
		border: $border_thin;
		border-radius: $radius_medium;
		padding: $space_small;
	}

	legend {
		text-transform: uppercase;
		font-size: $fontSize_small;
		font-weight: 700;
	}

	label {
		gap: $space_small;
		display: flex;
		flex-flow: row;
		align-items: center;
		text-transform: uppercase;
		font-weight: 700;

		&:has( input ),
		&[for] {
			cursor: pointer;
		}
	}
}
