@use '../abstracts/variables' as *;

body { font-family: "Inter"; }

h1,h2,h3,h4,h5,h6 {
	line-height: 1.6;
	font-weight: 900;
	margin-block-start: $space_small;
	margin-block-end: $space_XSmall;
	margin-inline-start: 0;
	margin-inline-end: 0;

	// For Inter.
	letter-spacing: -0.025em;
	word-spacing: 0.1em;
}

small          { font-size: $fontSize_XSmall; }
:root          { font-size: $fontSize_base; }
h6             { font-size: $fontSize_small; }
h5             { font-size: $fontSize_medium; }
h4             { font-size: $fontSize_large; }
h3             { font-size: $fontSize_XLarge; }
h2             { font-size: $fontSize_XXLarge; }
h1             { font-size: $fontSize_XXXLarge; }
.displaySmall  { font-size: $fontSize_displaySmall; }
.displayMedium { font-size: $fontSize_displayMedium; }
.displayLarge  { font-size: $fontSize_displayLarge; }
.displayXLarge { font-size: $fontSize_displayXLarge; }

h1:not(h1:first-child),
h1+h2,
h2+h3 {
	margin-block-start: 0;
}

h1+h2,
h2+h3 {
	margin-block-start: 0;
}

blockquote {
	margin-inline-end: $space_medium;
	margin-inline-start: 0;
	padding-inline-start: $space_medium;
	position: relative;
	border-left: $border_medium;
	color: inherit;

	&:last-child {
		margin-block-end: 0;
	}
}

i,
address,
blockquote,
dfn,
em,
var {
	font-style: oblique 10deg;
}

p,
ul,
ol,
blockquote,
pre,
dl,
img {
	margin-block-end: $space_medium;
}

ul,
ol {
	margin-inline-start: $space_small;

	li {
		margin-block-end: $space_small;
	
		&:last-child {
			margin-block-end: 0;
		}
	}
}

ul ul,
ul ol,
ol ul,
ol ol {
	margin-block-start: $space_small;
	margin-block-end: 0;
	margin-inline-start: $space_small;
}

ul.listStyle-none,
ol.listStyle-none {
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		margin-inline: 0;
		padding: 0;
	}
}

sub,
sup {
	color: inherit;
}

pre:has(code),
pre:has(samp) {
    border-radius: $radius_medium;
	background-color: $colour_black;
	padding: $space_XSmall;
	overflow-x: auto;
	line-height: 1.4;
	color: $colour_white;
	font-size: inherit;
}

kbd {
    margin: 0 0.1em;
    border: 0.1em solid #cccccc;
    border-radius: $radius_small;
    box-shadow: 0 0.05em 0.05em #000000cc, 0 0.1em 0.1em #00000066, 0 0.02em 0 0.02em #ececec inset, 0 0.04em 0 0.04em #fafafa inset;
    background-color: #e0e0e0;
    padding: 0.2em 0.4em;
	line-height: 1.4;
    color: $colour_black;
	font-family: monospace;
	font-size: inherit;
}

dl {
	&>dt {
		font-weight: 700;
		margin-block-start: 0;
		margin-block-end: $space_XSmall;
	}

	&>dd {
		margin-block-start: 0;
		margin-block-end: $space_medium;
		margin-inline-start: $space_medium;
	}
}