button,
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="file"]::before,
.button {
    display: inline-block;
    margin: 0.4em;
	outline: none;
	border: solid 1px var(--grey);
    border-radius: var(--box-radius);
	background: var(--background-light-grad), var(--grey);
	cursor: pointer;
    padding: var(--text-padding);
	text-decoration: none;
	color: var(--theme-colour-foreground);
    font-size: inherit;
    font-weight: bold;
	transition: transform var(--anim-duration) ease-in-out, 
				box-shadow var(--anim-duration) ease-in-out,
				background var(--anim-duration) ease-in-out;
}
	button:hover,
	input[type="button"]:hover,
	input[type="submit"]:hover,
	input[type="reset"]:hover,
	input[type="file"]:hover::before,
	.button:hover {
		transform: translate(0.2em, -0.2em);
		box-shadow: -0.2em 0.2em 0 0 #000;
		background: var(--background-light-grad), var(--lightGrey);
		z-index: 1;
	}
	button:active,
	input[type="button"]:active,
	input[type="submit"]:active,
	input[type="reset"]:active,
	input[type="file"]:active::before,
	.button:active {
		transform: translate(0, 0);
		box-shadow: 0 0 0 0 #000;
		background: var(--background-light-grad), var(--indicate-go);
	}

/* custom file selection button */
input[type="file"]::file-selector-button {
	visibility: hidden;
}
input[type="file"]::before {
	content: 'Select file...';
}

.indicate-emphasis {
	background: var(--background-light-grad), var(--indicate-emphasis);
	color: var(--white);
}
.indicate-go  {
	background: var(--background-light-grad), var(--indicate-go);
	color: var(--white);
}
.indicate-stop  {
	background: var(--background-light-grad), var(--indicate-stop);
	color: var(--white);
}
.indicate-ready  {
	background: var(--background-light-grad), var(--indicate-ready);
	color: var(--black);
}
