body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: var( --theme-colour-background );
	color: var(--theme-colour-foreground);
}

.contentContainer {
	margin: 0 auto;
	padding: .5em 1.5em;
	max-width: 35em;
}

.flex-row {
	display: flex;
	flex-flow: row wrap;
}

.flex-column {
	display: flex;
	flex-flow: column;
}

.flex-align-left {
	align-items: flex-start;
	justify-content: left;
}

.flex-space-between { justify-content: space-between; }
.flex-space-evenly  { justify-content: space-evenly; }

.gap-s  { gap: var( --theme-gap-s ); }
.gap-m { gap: var( --theme-gap-m ); }
.gap-l  { gap: var( --theme-gap-l ); }