* {
	box-sizing: border-box;
}

input {
	overflow: visible;
}

input,
optgroup,
select,
textarea {
	line-height: inherit;
	font-family: inherit;
	font-size: inherit;
}

input:hover:not(:disabled):not(.disabled),
optgroup:hover:not(:disabled):not(.disabled),
select:hover:not(:disabled):not(.disabled),
textarea:hover:not(:disabled):not(.disabled) {
	cursor: pointer;
}