@use '../abstracts/variables' as *;

.widthCopy {
	width: 35em;
	max-width: calc( 100% - $globalPagePaddingX * 2 );
}

.widthWide {
	width: 70em;
	max-width: calc( 100% - $globalPagePaddingX * 2 );
}

.widthFull {
	width: 100%;
}
